/* to remove bullet points on navbar */
ul {
    list-style-type: none;
    margin-right: 0px;
    padding: 0px;
}

/* spacing in nav bar links */
li{
    margin-left:15px;
}

/* center all conent within bio section */
.container{
    text-align: center;
}

img{
    margin-top:20px;
}

hr{
    margin-top: 5px;
    margin-bottom: 15px;
}

footer{
    background-color:lightskyblue;
    text-align:center;
    width:100%;
    clear:both;
}
