html{
    min-height: 100%;
    position: relative;
}

.item{
    font-size: x-large;
    font-weight:bold;
    
}

/* to remove bullet points on navbar */
ul {
    list-style-type: none;
    margin-right: 0px;
    padding: 0px;
}

/* spacing in nav bar links */
li{
    margin-left:15px;
}

/* center all conent within each section */
.container{
    text-align: center;
    margin-bottom:auto;
}

/* added margin above images */
img{
    margin-top:20px;
}

/*  line break */
hr{
    margin-top: 5px;
    margin-bottom: 15px;
}

/* adjusting footer to stay at the bottom */
footer{
    background-color:lightskyblue;
    text-align:center;
    height:40px;
    width:100%;
    clear:both;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
/* specifically for index.html footer, b/c prev position was not functioning correctly*/
.footer{
    position: static;
}

/* adjusting padding for content in the footer */
.social{
    padding-top:10px;
}

/* ensuring images are responsive and don't overlap when screen size changes */
@media screen and (max-width:400px) {
        .responsive{
        width: 100%;
        height:auto;
        margin:5px;
    }
/* adjust navbar fontsize */
    .item{
        font-size: small;
        }
}
/* responsive image */
@media screen and (max-width:768px) {
    .responsive{
        width: 100%;
        height:auto;
        margin:5px;
    }
/* adjust navbar fontsize */
    .item{
        font-size: medium;
        }
}
/* responsive image */
@media screen and (max-width:992px) {
    .responsive{
        width: 100%;
        height:auto;
        margin:5px;
    }
}
